
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //    border: 1px solid #404df3;
}

.viz-header {
    background-color: #082b40;
    text-align: left;
    padding: 15px 25px;
    .viz-icon {
        display: inline-block;
        vertical-align: middle;
        width: 36px;
    }
    .viz-label {
        display: inline-block;
        color: #ffffff;
        vertical-align: top;
        margin: 5px 10px;
    }
}