<div class="viz-header">
    <div class="viz-icon">
        <img src="assets/img/viz-logo.svg">
        <div class="viz-label">Power Consumption <div
            style="font-size: 12px;color: rgba(247, 247, 247, 0.5);letter-spacing: 0.01em;">24 hour trend (Load
            Curve)
        </div>
    </div>
    </div>
    
    <div class="home-desc">
        <div class="title">{{selectedHome?.homeTitle}}</div>
        <div class="desc">{{selectedHome?.homeDescription}}</div>
    </div>

</div>

<app-appliance-list *ngIf="clickedHomesArray && clickedHomesArray.length && sliderData"
    [clickedHomesArray]="clickedHomesArray" [sliderData]="sliderData" (applianceSelected)="applianceSelected($event)">
</app-appliance-list>

<app-area-chart *ngIf="applianceList && clickedAppliancesArray && 
                        sliderData && clickedHomesArray && clickedHomesArray.length" [sliderData]="sliderData"
    (sliderDataChange)="timeSliderChanged($event)" [applianceList]="applianceList"
    [clickedAppliancesArray]="clickedAppliancesArray" [clickedHomesArray]="clickedHomesArray"
    [clickedApplianceId]="clickedApplianceId"></app-area-chart>
<!-- [chartData]="chartData" -->
<!-- [timeSliderChartData]="timeSliderChartData"
    (timeSliderChangedOuput)="timeSliderChanged($event)" -->

<!-- <app-building-list [homesList]="homesList"></app-building-list> -->
<div class="building-array" id="building-block">
    <div class="building-array-scroll">
        <div class="building-array-container">
            <div class="each-home select-all" (click)="clickedOnSelectAllNone($event)" attr.data-select-state="all"
                style="display: none;">
                <!-- <div *ngIf="!noHomeSelected" class="select-all-none"><img src="assets/img/tick.png" alt=""></div>
                <div *ngIf="noHomeSelected" class="select-all-none"><img src="assets/img/minus.png" alt=""></div> -->
            </div>
            <div class="each-home" *ngFor="let home of homesList; let index = index;"
                (click)="clickedOnHome($event, home, index)" [ngClass]="{'active': home.clicked}"
                [attr.data-home-id]="home.homeId">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" viewBox="0 0 21 23">
                    <path fill="#FFF" fill-rule="nonzero"
                        d="M10.041.51L.2 7.765a.489.489 0 0 0-.2.393v13.539c0 .253.234.483.492.483h6.643c.258 0 .492-.23.492-.483v-6.77h5.413v6.77c0 .253.234.483.492.483h6.643c.257 0 .492-.23.492-.483V8.156a.492.492 0 0 0-.2-.392L10.626.51c-.226-.13-.39-.11-.585 0zm.292.998l9.35 6.89v12.814h-5.66v-6.77a.507.507 0 0 0-.491-.483H7.135a.507.507 0 0 0-.492.483v6.77H.984V8.398l9.35-6.89z" />
                </svg>
            </div>
        </div>
    </div>
</div>